.App {
    display: flex;
    background-color: #fae900;
    color: rgb(12, 64, 206);
    height:100vh  ;
    width: 100vw;
    
  }
  .ContainerApp{
     
    width: 100vw;
    height: 100vh;
    padding: 10vh;
      background-color: aqua;
      margin: 0 auto;
      
      
      
      
  }

  