.App {
    display: flex;
    background-color:  #013e6b;
    height:100vh  ;
    width: 100vw;
    
  }
  .ContainerApp{
     
    width: 80vw;
    height: 80vh;
    padding: 2vh;
      background-color : #003b67;
      margin: 10vh auto;
      
      
      
      
  }

  