.Calculadora {
    
    /* background-color: #fae900; */
    color: rgb(12, 64, 206);
    height:auto; 
  }
  .p{
      color:white;
  }
  
  .Slider {
    position: relative;
    height: 2vh;
    
    width: 40vw;
    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* background-color: black; */
    margin: 0vh auto;
    
  }

  .row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 10%;
      padding-right: 10%;
      /* background-color: blueviolet; */
      align-items: center;
      padding-bottom: 2vh;
      padding-top: 1vh;
  }
  .row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: blueviolet; */
    align-items: center;
    padding-bottom: 0vh;
    padding-top: 0vh;
}
  .insider{
      padding-top: 5vh;
      /* background-color: red; */
      margin-left: 10vw;
      margin-right: 10vw;
  }

  .input {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    display: inline-block;
    
    
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 30px;
    
    outline: none;
    
    width: 20vw;
  }
  
  ::placeholder {
    color: white;
  }
  .button1{
 background-color: #17aa8d ;
 color: white; 
    outline:0;
    border:0;
   
    font-family: 'Ubuntu', sans-serif;
    height: 5vh;
}


.button2{
    background-color: #0b548b;
    color: white;
    outline:0;
    border:0;
    height: 5vh;
    
   }
   .containerFinal{
       background-color: #00355d;
       width: 60vw;
       padding-left: -50vw;
       
   }